:root{
  --main_color: brown;
  scroll-behavior: smooth;
}
body{
  background: hsl(0, 1%, 45%);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0%;
  height: 5000px;
  font-size: 1.4em;
}
html{
  font-size: 10px;
}
h1{
  color: var(--main_color);
  text-align: center;
}
p{
  color: blanchedalmond;
}
.span_class{
  color: brown !important
}
.span_class{
  color: rgb(223, 178, 178); 
}
#span_id{
  color: blue;
}
.parent{
  /* width: 500px; */
  width: 20vw;
  height: 15vw;
  background-color: aquamarine;
  font-size: 1.2em;

}
.test{
width: 40%;
}
.nav{
  background-color: rgb(255, 205, 205);
  height: 70px;
  font-weight: 600;
  font-size: 20px;
}
.header{
  background-color: rgb(158, 158, 158);
  height: calc(80vh - 70px);
}
#div{
  background-color: azure;
  width: 250px;
  color: black;
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
/* p,h1,h2{
  color: brown;
} 

*{
  all will be the same
}
*/
.bg_explain{
  height: 300px;
  background-image: url(../images/Desert.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* background-attachment: scroll; */
  background-attachment: fixed;
  /* background: url(../images/Desert.jpg) no-repeat center fixed; */
}
.gradiant{
  height: 300px;
  width: 500px;
  background:linear-gradient(40deg, rgba(165, 42, 42, 0.548),rgba(0, 255, 255, 0.315),rgba(0, 0, 255, 0.541)),url(../images/Penguins.jpg);
}
.gradiant2{
  height: 300px;
  width: 500px;
  /* background-image: repeating-linear-gradient(45deg,red,blue 5%); */
  /* background-image: repeating-radial-gradient(red,blue 5%); */
  background-image: conic-gradient(red,blue 40%);
}