@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&display=swap');

*{
  box-sizing: border-box;
  font-family: 'Cairo', sans-serif;
}

:root{
  scroll-behavior: smooth;
  --bg_first_color :#f7fafd;
  --bg_second_color :#e8eff6;
  --transparent:#ffffff00f;
  --white:#ffff;
  --black:#333333;
  --purple:#aa7eec;
  --light_purple:#ebe7fa;
  --green:#19ca94;
  --light_green:#daf4ef;
  --red:#ff556e;
  --light_red:#f8e5ea;
  --yellow:#ffb30f;
  --light_yellow:#f8f1de;
  --blue:#50b9e8;
  --light_blue:#e1f2fa;
  --check:#2ccc9b;
  --footer_font:#999999;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
  color: inherit;
}

button , i , a{
  cursor: pointer;
  transition: .1s all ease;
}

a:hover{
  font-weight: 900;
}

h1{
  font-size: 3rem;
  text-align: center;
}

h2{
  font-size: 2rem;
}
p{
  text-align: center;
  font-weight:300;
}
/* ============================================================== */
.container{
  width: 85%;
  margin: auto;
}
nav{
  background-color: var(--bg_first_color);
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 6%;
  position: relative;
}

nav .container{
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: baseline;
}

nav span{
  font-size: 1.5rem;
  font-weight: 700;
  margin-left: 7px;
}

.nav_right{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: space-around;
  align-items: baseline;
  font-size: 0.8rem;
  font-weight: 500;
}

.nav_right li{
  margin-right: 18px;
}
.nav_right li img{
  width: 10px;
}
select{
  background-color: #f7fafd;
  border: none;
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer;
  outline: none;
}
.nav_button{
  background-color: rgba(255, 255, 255, 0);
  color: var(--red);
  font-size: 1rem;
  font-weight: 500;
  border-radius: 20px;
  border: var(--red) 1px solid;
  margin-right: 20px;
  padding-inline: 13px;
  padding-top: 3px;
  padding-bottom: 3px;
  cursor: pointer;
  transition: .3s all ease;
}

.nav_button:hover{
  background-color: var(--red);
  color: var(--white);
}

.down{
  position: absolute;
  margin-top: -3.2%;
  margin-left: 36%;
  display: flex;
  background-color:#ffffff00;
  color: var(--red);
  border: solid 1px var(--red);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  float: right;
  transition: .1s all ease-in-out;
}

.down:hover{
  scale: 1.1;
  background-color: var(--red);
  color: var(--white);
}

/* =========================================================== */

.section1{
  background-color: var(--bg_first_color);
  margin-top: -2.4%;
  position: relative;
}

.section1_button{
  text-align: center;
  margin-top: 3%;
}
.section1_button button{
  background-color: var(--red);
  color: var(--white);
  border-radius: 20px;
  border: var(--red) 1px solid;
  margin-right: 20px;
  padding-inline: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  transition: .3s all ease;
}

.section1_button button:hover{
  background-color: hsl(0, 100%, 99%);
  color: var(--black);
}

.section1 img{ 
  width: 65%;
  margin-inline: 15%;
  margin-top: 5%;
}

.section1 .blue_circle{
  width: 5%;
  position: absolute;
  margin-left: 4%;
  margin-top: 6%;
  z-index: 1;
}
.section1 .green_diamond{
  width: 2%;
  position: absolute;
  margin-top: -14%;
  margin-left: 4%;
}
.section1 .white_circle{
  width: 33%;
  position: absolute;
  margin-left: -26%;
  margin-top: -3%;
}
.section1 .white_circle2{
  width: 22%;
  position: absolute;
  margin-left: 83%;
  margin-top: 7%;
}
.section1 .yellow_circle{
  width: 4%;
  position: absolute;
  margin-left: 77%;
  margin-top: 5%;
}

/* =================================================================== */
.section2{
  background-color: var(--bg_first_color);
  padding-bottom: 8%;
}
.section2 .container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
  padding-top: 3%;
}
.styles{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 400;
}
.styles_i{
  border-radius: 50%;
  width: 6.5rem;
  height: 6.5rem;
  text-align: center;
  padding-top: 25px;
  margin-bottom: 10%;
}
.section2 i{
  font-size: 3rem;
}

.section2 .one i{
  background-color: var(--light_purple);
  color: var(--purple);
}
.section2 .two i{
  background-color: var(--light_green);
  color: var(--green);
}
.section2 .three i{
  background-color: var(--light_red);
  color: var(--red);
}
.section2 .four i{
  background-color: var(--light_yellow);
  color: var(--yellow);
}
.section2 .five i{
  background-color: var(--light_blue);
  color: var(--blue);
}

/* =================================================================== */
.container2{
  width: 75%;
  margin: auto;
  display: flex;
}
.section3{
  background-color: var(--bg_first_color);
  padding-bottom: 8%;
}

.section3 .left img{
  width: 70%;
}

.section3 .right{
  width: 75%;
}
.section3 .right p{
  text-align: left;
}
.section3 .right li{
  list-style: square;  
}

::marker{
  color: var(--footer_font);
}

.section3 button{
  background-color: var(--red);
  color: var(--white);
  border-radius: 20px;
  border: var(--red) 1px solid;
  margin-right: 20px;
  padding-inline: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 3%;
  cursor: pointer;
  transition: .3s all ease;
}

.section3 button:hover{
  background-color: hsl(0, 100%, 99%);
  color: var(--black);
}

/* =================================================================== */

.section4{
  background-color: var(--bg_second_color);
  padding-top: 7%;
  padding-bottom: 7%;
}

.section4 .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section4 .left{
  width: 40%;
}

.section4 .upper{
  background-color: var(--bg_first_color);
  color: var(--footer_font);
  font-weight: 400;
  border: none;
  border-radius: 3px;
  padding-inline: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 10px;
  transition: 0.3s all ease;
}

.upper:hover{
  background-color: var(--purple);
  color: var(--white);
}

.section4 p{
  text-align: left;
  font-size: 1.1rem;
  font-weight: 300;
}
.section4 span{
  font-weight: 600;
}
.section4 li{
  margin-bottom: 15px;
  list-style: square;
}
.section4 li::marker{
  color: var(--check);
}

.section4 .lower{
  background-color: var(--bg_second_color);
  color: var(--black);
  font-weight: 500;
  border: 2px solid var(--black);
  border-radius: 30px;
  padding-inline: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 10px;
  margin-top: 3%;
  transition: 0.3s all ease;
}
.lower:hover{
  background-color: var(--red);
  color: var(--white);
  border: 2px solid var(--red);
}

.section4 .right img{
  width: 70%;
}
/* =================================================================== */

.section5{
  background-color: var(--bg_first_color);
  padding-top: 7%;
  padding-bottom: 7%;
}

.section5 h2{
  text-align: center;
}


.section5 .all{
  margin-top: 10%;
  display: flex;
  align-items: center;
}

.section5 .text .title{
  font-size: 1.2rem;
  font-weight: 600;
}
.section5 .left{
  width: 30%;
}

.section5 .paragraph{
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 35%;
  margin-right: -10%;
}
.section5 .left i{
  font-size: 3rem;
  margin-left: 15%;
  color: var(--white);
}

.section5 .paragraph .text{
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.section5 .paragraph p{
  text-align: end;
}

.section5 .center{
  display: flex;
  justify-content: space-around;
}
.section5 .center img{
  width: 70%;
}

.section5 .right{
  width: 30%;
}

.section5 .paragraph2{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 35%;
  margin-left: -10%;
}

.section5 .right i{
  font-size: 3rem;
  margin-right: 12px;
  color: var(--white);
}

.section5 .paragraph2 .text{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.section5 .paragraph2 p{
  text-align: start;
}


.section5 .group{
  background-color: var(--purple);
}
.section5 .code{
  background-color: var(--green);
}
.section5 .gear{
  background-color: var(--red);
}
.section5 .comment{
  background-color: var(--yellow);
}
.section5 .rocket{
  background-color: var(--blue);
}
.section5 .download{
  background-color: var(--purple);
}
/* =================================================================== */

.section6{
  background-color: var(--bg_second_color);
  padding-top: 7%;
  padding-bottom: 7%;
  font-size: 2.3rem;
  color: var(--footer_font);
  transition: 0.1s ease-in-out;

}

.section6 .photos{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

.section6 .photos img{
  width: 17%;
  transition: 0.3s ease-in-out;
}

.section6 .photos img:hover{
  scale: 1.1;
  box-shadow: 16px 20px 20px 3px #484747;
}

.section6 i:hover{
  color: var(--black);
  text-shadow: 0px 2px 7px #484747;
}

/* =================================================================== */

.section7{
  background-color: var(--bg_first_color);
  padding-top: 5%;
  padding-bottom: 5%;
}

.section7 h2{
  text-align: center;
  margin-bottom: 7%;
}

.section7 .rates_container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.section7 .rates{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section7 .border{
  display: block;
  border: 1px solid #e0e0e0;
  width: 13%;
  margin-top: 4%;
}

.section7 .text{
  text-align: center;
  width: 65%;
  margin: auto;
}

.section7 .stars{
  text-align: center;
  color: var(--yellow);
}

.section7 span{
  font-size: 1rem;
  font-weight: 700;
  color: var(--black);
}

.section7 .white_container{
  background-color: var(--white);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-top: 5%;
  margin-bottom: 5%;
  border-radius: 5px;
}

.section7 .white_container img{
  transition: .3s all ease-in-out;
  cursor: pointer;
}

.section7 .white_container img:hover{
  scale: 1.1;
  box-shadow: 16px 20px 20px 3px #484747;
}

/* =================================================================== */

.section8{
  background-color: var(--bg_second_color);
  padding-top: 5%;
}

.section8 .one i{
  background-color: var(--transparent);
  color: var(--purple);
}
.section8 .two i{
  background-color: var(--transparent);
  color: var(--green);
}
.section8 .three i{
  background-color: var(--transparent);
  color: var(--red);
}
.section8 .four i{
  background-color: var(--transparent);
  color: var(--yellow);
}
.section8 .five i{
  background-color: var(--transparent);
  color: var(--blue);
}

.section8 .numbers{
  font-size: 3.3rem;
  font-weight: 700;
  margin-top: -20%;
  margin-bottom: 10%;
}

.section8 .text{
  font-size: 1rem;
  color: var(--footer_font);
}

/* =================================================================== */

.section9{
  background-color: var(--bg_first_color);
  padding-top: 7%;
  padding-bottom: 7%;
  position: relative;
}

.section9 img{
  width: 65%;
  margin-inline: 15%;
}

.section9 .blue_circle{
  width: 5%;
  position: absolute;
  margin-left: 4%;
  margin-top: 6%;
  z-index: 1;
}
.section9 .green_diamond{
  width: 2%;
  position: absolute;
  margin-top: -40%;
  margin-left: 78%;
}
.section9 .white_circle{
  width: 33%;
  position: absolute;
  margin-left: -28%;
  margin-top: -30%;
}
.section9 .white_circle2{
  width: 22%;
  position: absolute;
  margin-left: 83%;
  margin-top: -35%;
}
.section9 .yellow_circle{
  width: 4%;
  position: absolute;
  margin-left: 2%;
  margin-top: -19%;
}

/* =================================================================== */

footer{
  background-color: var(--bg_first_color);
  color: var(--footer_font);
  border: none;
  border-top: 1px solid var(--bg_second_color);
  padding-top: 5%;
  padding-bottom: 2%;
}

.flex{
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  margin-bottom: 3%;
}

footer .title{
  font-size: 1.3rem;
  font-weight: 600;
}

footer li{
  margin-left: -15%;
}

.social_media{
  display: flex;
}

.social_media i{
  background-color: var(--footer_font);
  color: var(--white);
  font-size: 2rem;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  transition: .2s all ease-in-out;
}

.social_media .facebook:hover{
  color: var(--white);
  background-color: darkblue;
}
.social_media .instagram:hover{
  color: var(--white);
  background: linear-gradient(134deg,purple , red ,orange);
}
.social_media .twitter:hover{
  color: var(--white);
  background-color: var(--blue);
}
.social_media .linkedin:hover{
  color: var(--white);
  background-color: #0077b5;
}

.copyrights{
  display: flex;
  justify-content: center;  
}

.up{
  display: flex;
  background-color: var(--footer_font);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: .1s all ease-in-out;
  position: absolute;
  margin-top: -2%;
  margin-left: 82%;
}

.up:hover{
  scale: 1.1;
  background-color: var(--red);
}