@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&display=swap');

*{
  box-sizing: border-box;
  font-family: 'Cairo', sans-serif;
}

:root{
  --font_color:hsl(210deg 2% 59%);
  --font_color_2:hsl(216, 2%, 49%);
  --white:hsl(0deg 0% 100%);
  --bg:hsl(210deg 14% 97%);
  --bg_grad:hsl(32deg 74% 55%);
  --bg_grad_sec:hsl(12deg 73% 54%);
  --red:hsl(351deg 84% 69%);
  --red_2:rgb(240, 78, 103);
  --light_red:hsl(350deg 83% 79%);
  --light_color:hsl(0deg 0% 76%);
  --basic_color:hsl(36deg 98% 66%);
  --basic_color_2:hsla(36, 98%, 66%, 0.657);
  --pro_color:hsl(175deg 55% 46%);
  --pro_color_2:hsla(175, 55%, 46%, 0.657);
  --performance_color:hsl(3deg 96% 68%);
  --performance_color_2:rgba(252, 103, 95, 0.657);

  scroll-behavior: smooth;
}



.container{
  width: 85% ;
  margin: auto ;
}

.float_parent>* {
  float: left;
}

.float_parent::after{
  content: "";
  display: block;
  clear: both;
}

a{
  text-decoration: none;
  color: inherit;
}

ul{
  list-style: none;
}

h2{
  font-size: 2.2rem;
  font-weight: 300;
  text-align: center;
}

h3{
  font-size: 1.4rem;
  font-weight: 400;
}

i , button{
  cursor: pointer;
}

/* ------------------------------------------------------------------------------- */

.upper{
  height: 100vh;
  background: url(./img/hero-2.jpg) no-repeat;
  background-size: cover;
  background-position: bottom;
}

.upper nav{
  float: right;
  margin: 10px 23px;
  font-size: 18px;
  color: var(--font_color);
  
}

.upper nav li{
  margin-right: 10px;
}

.upper a{
  transition: .1 sec;
}

.upper a:hover{
  font-weight: 700;
  color: var(--font_color_2);
}

.upper h1{
  font-size: 3rem;
  font-weight: 300;
}

.upper p{
  font-size: 1.2rem;
  font-weight: 300;
}

.upper .txt{
  width: 100%;
  text-align: center;
  margin-top: 8%;
}
/* ----------------------------------------------------------------------------------- */
.scnd_section{
  background-color: var(--white);
  padding-bottom: 8%;
}


.scnd_section .txt{
  width: 100%;
  text-align: center;
  margin-top: 5%;
  padding-bottom: 8%;
}

.scnd_section .bold{
  font-size: 2.6rem;
  font-weight: 600;
}

.scnd_section p{
  padding-top: 12px;
  font-size: 1.2rem;
  font-weight: 300;
}

.scnd_section .left,
.scnd_section .center,
.scnd_section .right{
  width: 28%;
  margin-right: 3%;
  margin-left: 20px;
}

.scnd_section img{
  width: 45%;
  margin-left: 27%;
}

.scnd_section h3{
  margin-bottom: -10px;
}

.scnd_section .txt{
  font-size: 1.4rem;
  font-weight: 200;
  margin-bottom: -3%;
}

.scnd_section a{
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--red);
}

.scnd_section a {
  transition: .1s all ease;
}

.scnd_section a:hover{
  font-weight: 700;
  color: var(--red_2);
}

/* -------------------------------------------------------------------------------- */

.third{
  background: linear-gradient(90deg, hsl(37deg 72% 55%), hsl(10deg 72% 54%));
}

.third .facts{
  width: 100%;
}

.third .one{
  width: 25%;
  text-align: center;
  padding-bottom: 5%;
  padding-top: 5%;
}

.third i{
  font-size: 35px;
  color: var(--white);
  padding-bottom: 12px;
}

.third .numbers{
  font-size: 5rem;
  color: var(--white);
  padding-bottom: 12px;
}

.third span{
  color: var(--white);
  font-size: 1.4rem;
  font-weight: 400;
  text-align: center;
}

/* -------------------------------------------------------------------------------- */

.fourth .txt{
  text-align: center;
  margin-top: 8%;
  margin-bottom: 8%;
}

.fourth p{
  font-size: 1.2rem;
  font-weight: 300;
}

.fourth h3{
  font-size: 1.4rem;
  font-weight: 400;
  margin-bottom: -10px;
}

.elements{
  display: flex;
  flex-wrap: wrap
}

.fourth .bunch{
  width: 27%;
  margin: auto;
  margin-bottom: 5%;
}

.fourth i{
  font-size: 50px;
  margin-left: 40%;
}
/* -------------------------------------------------------------------------------- */

.fifth .adr{
  font-size: 1.2rem;
  font-weight: 100;
  text-align: center;
  margin-top: 3%;
}

.fifth .text{
  margin-bottom: 10%;
}

.fifth .txt{
  text-align: left;
  margin-top: 8%;
  width: 30%;
  margin-left: 10%;
  margin-bottom: 8%;
}

.fifth p{
  font-size: 1.2rem;
  font-weight: 100;
  margin-top: 13%;
}

.fifth h3{
  font-size: 1.4rem;
  font-weight: 400;
  margin-bottom: -10px;
  line-height: 1.3;
  word-spacing: 4px;
}

.fifth i{
  font-size: 30px;
  color: var(--light_red);
  margin-bottom: 5%;
  text-align: left;
}

.section{
  display: flex;
  flex-wrap: wrap;
}

.fifth img{
  padding-left: 13%;
}

.fifth .images{
  display: flex;
  flex-direction: column;
  margin-top: 12%;
  margin-left: 20%;
}

.fifth img{
  transition: .3s all ease;
}

.fifth img:hover{
  transform: scale(1.1);
}
/* -------------------------------------------------------------------------------- */
.sixth{
  background-color: var(--bg);
  padding-top: 1%;
  padding-bottom: 6%;
}

.sixth .txt {
  text-align: center;
  padding-bottom: 2%;
}

.sixth .txt span{
  font-weight: 600;
}

.sixth .section_2{
  display: flex;
  flex-wrap: wrap;
}

.sixth .news{
  width: 30%;
  margin: auto;
  background-color: var(--white);
  border-radius: 5px;
}

.sixth img{
  width: 100%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.sixth .info{
  padding: 3%;
}

.sixth .top{
  color: var(--red);
  font-size: .9rem;
}

.sixth h5{
  font-weight: 200;
}

.sixth p{
  font-weight: 300;
}

.sixth .bottom{
  font-size: 0.9rem;
  font-weight: 300;
}
/* -------------------------------------------------------------------------------- */

.seventh{
  padding-top: 3%;
  padding-bottom: 4%;
}

.seventh .txt{
  text-align: center;
}
.seventh span{
  font-weight: 600;
}
.seventh p{
  font-weight: 300;
}
.seventh .list{
  margin-left: 30%;
  padding-top: 1%;
  padding-bottom: 2%;
}
.seventh li{
  padding-right: 40px;
  color: var(--red);
  transition: .2sec;
}
.seventh a:hover{
  font-weight: 700;
}

.section_3{
  display: flex;
  flex-wrap: wrap;
}
.seventh .pic{
  width: 30%;
  margin: auto;
}
.seventh img{
  width: 100%;
  border-radius: 8px;
  margin-left: 3%;
}
/* -------------------------------------------------------------------------------- */

.eighth{
  background-color: var(--bg);
  padding-top: 3%;
  padding-bottom: 4%;
}

.eighth .txt p{
  text-align: center;
  font-weight: 300;
}

.bpp{
  display: flex;
  justify-content: space-evenly;
  align-content: space-between;
  flex-wrap: wrap;
  margin-top: 5%;
}

.basic ,
.pro ,
.performance{
  text-align: center;
  background: white;
  border-radius: 7px;
  padding: 3px;
  width: 30%;
}

.up{
  border: none;
  border-bottom: 2px solid var(--bg)
}

.price{
  font-size: 1.9rem;
  font-weight: 900;
}

.down ul{
  margin-bottom: 30%;
  margin-top: 10%;
  font-weight: 300;
}

.down button{
  width: 93%;
  padding: 13px;
  margin-top: 3%;
  margin-bottom: 3%;
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--white);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2sec;
}

.basic h3{
  font-weight: 600;
  color: var(--basic_color);
}
.basic button{
  background-color: var(--basic_color);
}
.basic button:hover{
  background-color: var(--basic_color_2);
}


.pro h3{
  color: var(--pro_color);
  font-weight: 600;
}
.pro button{
  background-color: var(--pro_color);
}
.pro button:hover{
  background-color: var(--pro_color_2);
}


.performance h3{
  color: var(--performance_color);
  font-weight: 600;
}
.performance button{
  background-color: var(--performance_color);
}
.performance button:hover{
  background-color: var(--performance_color_2);
}



/* -------------------------------------------------------------------------------- */

footer{
  background-color: var(--white);
}

footer h2{
  font-size: 2.2rem;
  font-weight: 200;
  text-align: center;
  margin-top: 8%;
  margin-bottom: 6%;
}

footer span{
  font-weight: 600;
}

footer img{
  width: 16%;
  margin-bottom: 8%;
  border-radius: 50%;
  transition: .3s all ease;
}

footer img:hover{
  transform: scale(1.1);
  background-color: var(--bg);
}

/* --------------------------------------------------------------------------------- */

.last_footer{
  border: none;
  border-top: solid 1px;
  border-color: hsl(210deg 13% 94%);
}

.last_footer .txt{
  font-size: 1.1rem;
  color: var(--font_color);
  font-weight: 300;
  margin-top: 2%;
  margin-bottom: 2%;
}

.last_footer a{
  color: var(--red);
  font-weight: 400;
}

.last_footer .icons{
  width: 58%;
  text-align: right;
  margin-top: 2%;
}

.last_footer .icons i{
  color: var(--red);
  padding-right: 10px;
  font-size: 20px;
}

.last_footer i,
.last_footer a {
  transition: .3s all ease;
}

.last_footer i:hover{
  transform: scale(1.2);
  color: var(--red_2);
}

.last_footer a:hover{
  font-weight: 700;
  color: var(--red_2);
}

/* ---------------------------------------------------------------------------------- */
@media (max-width:500px){
  nav,
  .scnd_section .txt,.scnd_section .left,.scnd_section .center,.scnd_section .right,
  .third .one,
  .fourth .bunch,
  .sixth .news,
  .eighth .basic,.eighth .pro,.eighth .performance{
    width: 100%;
    font-size: 1.2rem;
  }
}

@media (min-width:501px) and (max-width:1000px){
  .float_parent .one,
  .scnd_section .txt,.scnd_section .left,.scnd_section .center,.scnd_section .right,
  .third .one,
  .fourth .bunch,
  .sixth .news,
  .eighth .basic,.eighth .pro,.eighth .performance{
    width: 50%;
  }
}
/* ----------------------------------FORM------------------------------------------------ */

.form .container{
  width: 70%;
}

.form .txt{
  margin-top: 10%;
  margin-bottom: 8%;
}

.form .txt p{
  text-align: center;
  font-weight: 300;margin-bottom: 5%;
}

form{
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: space-evenly;
  margin-bottom: 10%;
}

form .name,
form .email{
  width: 41%;
}
form .subject{
  width: 88%;
}
form .message{
  width: 88%;
}
.form button{
  width: 88%;
  height: 35px;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  color: var(--white);
  background-color: var(--performance_color);
}

.form button:hover{
  background-color: var(--performance_color_2);
}

.decoration{
  border: solid 1px var(--light_color);
  outline: none;
  margin-bottom: 2%;
  height: 40px;
}
